{
	"serverDomain": "x.example.pl.", ##todo
	"workerThreads": 10,
	"eventCapture": {
		"localAddress": "0.0.0.0",
		"publicAddress": "1.1.1.1", ##todo
		"http": {
		         "ports" : 80
		       },
		      "https": {
		          "ports" : 443
		      },
		      "smtp": {
		          "ports" : [25, 587]
		      },
		      "smtps": {
		          "ports" : 465
		},
		"ssl": {
			"certificateFiles": [
				"/opt/collaborator/ssl/privkey.pem",
				"/opt/collaborator/ssl/cert.pem",
				"/opt/collaborator/ssl/chain.pem"
			]
		}
	},
	"dns": {
                "interfaces": [
                        {
                                name: "ns1",
                                "localAddress": "0.0.0.0",,
                                "publicAddress":"1.1.1.1" ##todo
                        }],
		"ports": 53
	},
        "customDnsRecords": [{
                "label": "_acme-challenge",
                "record": "", ##todo
                "type": "TXT"
        }],
	"logLevel": "DEBUG"
}

